.hero-story
  padding: 0
  .featured-story
    height: 300px
    width: 100%
    background-size: cover
    background-position: center center

    .wagtail-story-text
      margin-top: 7em
      display:  inline-block
      max-width: 400px
      padding-left: 5em
      h1
        margin: 0
        color: white
        font-weight: bold
      h3
        margin: 0
      a
        color: white !important
