.breadcrumb,
.navbar-static-top.masthead li a,
h4,
h3,
h2,
h1
  font-family: 'Rubik', sans-serif

/* Force titles to break correctly on all browsers (even IE) */
.media-heading
  word-break: break-word !important
  -ms-word-break: break-word !important